body {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

a:link, a:active, a:visited {
	color: #493a82;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: underline;
}

table {
	border-style: solid solid solid solid;
	width:200px;
	text-align:left;
	border-width: 1px;
	border-spacing: 2px;
	border-color: gray;
	border-collapse: collapse;
	float:left;
	margin-left: 50px;;
	margin-right: 50px;;
	margin-top: 50px;
}

th {
	background-color: black;
	color: white;
}

.tablerow {
	background-color: #f5f5f5;
}

tr:hover {
	background-color: #dde6ff;
}

#loginbox {
	border-style: solid;
	border-width: 1px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}


#tablewrapper {
	width: 100%;
	min-height: 400px;
}

#addkey_wrapper {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}
#addkey_top {
	width: 300px;
	height: 56px;
	background-image: url('images/addkeys_01.png');
}

#searchkey_top {
	width: 300px;
	height: 56px;
	background-image: url('images/searchkey_01.png');
}

#addkey_middle {
	width: 300px;
	background-image: url('images/addkeys_02.png');
	background-repeat: y-repeat	
}

#addkey_content {
	margin-left: 25px;
	height: 20px;
}

#addkey_bottom {
	width: 300px;
	height: 27px;
	background-image: url('images/addkeys_03.png');
}